pandas 
numpy 
matplotlib 
seaborn 
branca 
geopandas 
folium 
wordcloud 
scipy
scikit-learn
shapely
ipython
beautifulsoup4
pandas
SQLAlchemy
psycopg2
seaborn
dash
dash-bootstrap-components
Flask==2.1.1
pandas
plotly
sklearn
deep-translator
pyjokes